.button-container {
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
}

button {
    display: inline-block;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    margin: 0 10px; 
}

button:hover {
    background-color: #2980b9; 
}
table input[type="text"] {
    width: 60px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
}