
.fail {
    color: red;
}
.pass {
    color: green;
}
.absent {
    color: gray;
}
button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: block;; 
    margin-left: auto;
    margin-right: auto;
}

