table {
    width: 100%;
    border-collapse: collapse;

}

caption {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}


.table-child {
    max-height: 400px;
    overflow-y: auto;
}


@media (max-width: 600px) {

    input,
    select {
        font-size: 14px;
    }

    .heading {
        font-size: 20px;
    }

    table {
        font-size: 14px;
    }
}