* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

section {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    overflow-x: auto;
}

.table-wrapper {
    max-height: 400px; 
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

thead {
    background-color: #3498db;
    color: #fff;
}

thead th {
    padding: 12px;
    text-align: left;
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 2; 
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody td {
    padding: 12px;
    text-align: left;
    vertical-align: middle;
}

.profileimage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

svg {
    width: 50px;
    height: 50px;
    color: #bbb;
    display: block;
    margin: 0 auto;
}

tbody tr:hover {
    background-color: #f1f9ff;
    cursor: pointer;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.parent-section-form {
    margin-bottom: 20px;
    max-width: 800px;
}

form {
    display: flex;
    gap: 15px;
    justify-content: center;
}

input[type="text"],
input[type="submit"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
}

input[type="text"]:focus {
    border-color: #3498db;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #3498db;
}

@media (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    thead,
    tbody {
        display: table;
        width: 100%;
    }

    form {
        flex-direction: column;
        gap: 10px;
    }
}
