body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.button-container {
    text-align: center;
  }

  button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  button:hover {
    background-color: #3498db;
    transform: scale(1.05);
  }

  button:active {
    background-color: #3498db;
    transform: scale(1);
  }

  button svg {
    margin-right: 8px;
    vertical-align: middle;
  }

section {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #3498db;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

table thead {
    background-color: #3498db;
    color: white;
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    font-weight: 600;
    text-transform: uppercase;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

.backbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.backbtn svg {
    fill: #0cabdb;
}

.backbtn:hover {
    background-color: #ddd;
    transform: scale(1.1);
}

.semester-selection {
    text-align: center; 
    margin: 20px; 
}

label {
    font-size: 1.2em; 
    margin-right: 10px; 
}

select {
    padding: 10px; 
    font-size: 1em; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    background-color: #f9f9f9; 
    cursor: pointer; 
}

@media (max-width: 768px) {
    table, th, td {
        display: block;
        width: 100%;
    }
    table thead {
        display: none;
    }
    table tbody tr {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #ddd;
    }
    table tbody tr td {
        padding: 10px 0;
        position: relative;
    }
    table tbody tr td:before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        padding-right: 10px;
        color: #3498db;
        display: inline-block;
        width: 100px;
    }
}
