/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
   width: 100%;
}

h2 {
    color: #3498db;
    text-align: center;
    margin-bottom: 20px;
}

section {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 700px;
}

.table1 {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: left;
    overflow-x: auto;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3498db;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

form h2 {
    margin-bottom: 10px;
}

input[type="month"],
input[type="text"],
select {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
}

input[type="submit"],
button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
button:hover {
    background-color: #307db1;
}

.details {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.popup-content h2 {
    margin-bottom: 20px;
}

.popup-content select,
.popup-content input[type="submit"] {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    width: 80%;
}

.popup-content input[type="submit"] {
    background: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

.popup-content input[type="submit"]:hover {
    background: #3498db;
}

.popup-hidden {
    display: none;
}

.popbtnmodal {
    display: flex;
    justify-content: flex-end;
}

.popup-content svg {
    cursor: pointer;

}

.creditInput{
    width: 50%;
}


@media (max-width: 768px) {

    section,
    .details {
        padding: 10px;
    }

    table {
        font-size: 14px;
    }

    input[type="text"],
    select {
        max-width: 100%;
    }
}
